@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Merriweather', serif;
    }

    body {
        background-color: #f7f7f7;
        overflow-x: hidden;
    }
}

@layer components {
    .input-box {
        @apply w-full border border-gray-300 rounded-lg p-2;
    }

    .btn-primary {
        @apply w-32 bg-blue-500 text-white px-4 py-2 rounded-lg;
    }

    .btn-secondary {
        @apply w-32 bg-gray-500 text-white px-4 py-2 rounded-lg;
    }

    .btn-warning {
        @apply w-32 bg-yellow-500 text-white px-4 py-2 rounded-lg;
    }

    .btn-danger {
        @apply w-32 bg-red-500 text-white px-4 py-2 rounded-lg;
    }

    .div-error {
        @apply text-red-500 text-sm p-2 bg-red-100 rounded-lg;
    }

    .input-error {
        @apply text-red-500 text-sm;
    }
}
