@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
    body {
        background: linear-gradient(120deg, #e7bdbf, #1ac6c347);
        background-attachment: fixed; /* Giữ cố định khi cuộn */
        background-size: cover; /* Phủ toàn bộ màn hình */
    }
}

@layer components {
    /* Điều chỉnh kích thước của thanh cuộn */
    ::-webkit-scrollbar {
        width: 8px; /* Độ rộng thanh cuộn */
        height: 8px; /* Độ cao thanh cuộn ngang */
    }

    /* Điều chỉnh màu sắc và hình dáng của phần nắm thanh cuộn */
    ::-webkit-scrollbar-thumb {
        background-color: #000000; /* Màu sắc của phần cuộn */
        border-radius: 10px; /* Bo góc phần nắm */
        border: 2px solid #fff; /* Viền xung quanh phần nắm */
    }

    /* Điều chỉnh phần không cuộn của thanh cuộn */
    ::-webkit-scrollbar-track {
        background: #f1f1f1; /* Màu nền của track */
        border-radius: 10px; /* Bo góc track */
    }
}


