.glassCard {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 30px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(16px); /* Mờ nền */
    -webkit-backdrop-filter: blur(10px); /* Đảm bảo hỗ trợ trên Safari */
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 3em 0.5em 0 0.5em;
    width: 500px;
    transition: all 0.3s ease-in-out;
}

.glassCard:hover {
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.8);
}

.glassButton {
    padding: 24px 32px;
    border: 0;
    text-decoration: none;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(30px);
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    letter-spacing: 2px;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.6s ease-in-out !important;
}

.glassButton:hover {
    background-color: rgba(0, 0, 0, 0.8) !important;
    color: rgba(255, 255, 255, 1) !important;
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.8) !important;
}

.glassInput {
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 8px;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.glassInput::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.glassInput:hover {
    background-color: rgba(255, 255, 255, 0.4);
    border-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
}

.glassInput:focus {
    background-color: rgba(255, 255, 255, 0.4);
    border-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
    
}
